body {
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Georgia', serif;
}
/* .line {
    border-top: 3px double #4b2e00;
    margin: 10px 0;
} */
.line {
    border-top: 3px double gold;
    margin: 10px 0;
}
.mantra {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.shop-name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}
.slogan {
    font-size: 17px;
    font-weight: bold;
    color: white;
    background: rgba(255, 215, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 12px;
}
/* .god-image img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}
.god-image {
    display: flex;
    justify-content: center;
} */
.god-image img {
    width: 120px;
    border: 5px solid gold;
    border-radius: 50%;
    padding: 5px;
    background: radial-gradient(circle, #fff8dc, gold);
      box-shadow: 0 0 15px gold;
}
/* #card {
    width: 420px;
    padding: 25px;
    border: 6px solid #b8860b;
    border-radius: 15px;
    background: linear-gradient(135deg, #7b0000, #b30000);
    color: #ffd700;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
} */
 #card {
    width: 400px;
    background: linear-gradient(145deg, #5a001a, #800020);
    padding: 20px;
    border: 8px solid gold;
    text-align: center;
    color: gold;
     box-shadow: 
        0 0 10px gold,
        inset 0 0 20px rgba(255,215,0,0.3);
    /* box-shadow: 0 0 25px #ffcc00; */
}
#card {
    box-shadow: 
        0 0 10px gold,
        inset 0 0 20px rgba(255,215,0,0.3);
}

#card h1 {
    font-size: 28px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

#datetime {
    font-size: 14px;
    margin-bottom: 20px;
    color: #fff;
}

.rate-box {
    background: #ffffff;
    color: #000;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
}
.contact {
    font-size: 13px;
    letter-spacing: 0.5px;
}
.address,
.phone {
    margin: 4px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

td {
    padding: 8px;
    border: 2px solid #4b2e00;
}


/* .rate {
    font-weight: bold;
    font-size: 22px;
    color: white;
} */
 .rate {
    font-weight: bold;
    font-size: 22px;
    color: maroon;
    background: gold;
    padding: 4px 8px;
    border-radius: 6px;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}
