*{
margin:0;
padding:0;
box-sizing:border-box;
}
.preview{
display:flex;
justify-content:center;

width:100%;
overflow:hidden;
}

/* scale poster for screen */
#card{
/* transform:scale(1.2); */
transform-origin:top center;
}
/* PAGE LAYOUT */

body{
background:#111;
font-family:'Noto Sans Tamil','Segoe UI',Arial,sans-serif;

display:flex;
justify-content:center;
align-items:flex-start;

min-height:100vh;
padding:20px;
}

/* CARD */

#card{
/* width:1000px; */
/* height:1080px; */
background:linear-gradient(145deg,#5a001a,#800020);
padding:20px;
border:8px solid gold;
justify-content:flex-start;
display:flex;
flex-direction:column;
gap:10px;

color:gold;
text-align:center;
}

/* TEXT */

.mantra{
font-size:20px;
font-weight:bold;
margin-bottom:10px;
}

.shop-name{
font-size:35px;
font-weight:bold;
}

.slogan{
font-size:17px;
font-weight:bold;
color:white;

background:rgba(255,215,0,0.2);
padding:6px;
border-radius:6px;
}

.line{
border-top:3px double gold;
margin:10px 0;
}

/* GOD IMAGE */

.god-image{
display:flex;
justify-content:center;
}

.god-image img{
width:120px;
height:auto;

border:5px solid gold;
border-radius:50%;
padding:5px;

background:radial-gradient(circle,#fff8dc,gold);
box-shadow:0 0 15px gold;
}

/* DATE */

#datetime{
font-size:18px;
color:#fff;
margin:10px 0;
}

/* TABLE */

table{
width:100%;
border-collapse:collapse;
}

td{
padding:8px;
border:2px solid #4b2e00;
font-size:20px;
}

td:first-child{
text-align:left;
}

td:last-child{
width:120px;
text-align:center;
}

.rate{
font-weight:bold;
font-size:26px;

color:maroon;
background:gold;

padding:4px 8px;
border-radius:6px;
}

/* FOOTER */

.contact{
font-size:17px;
}

.phone{
margin-top:5px;
}

/* BUTTON BAR */

.button-bar{
position:fixed;
bottom:20px;
left:0;
width:100%;

display:flex;
justify-content:center;
gap:15px;
}

.button-bar button{
padding:10px 18px;
font-size:16px;

border:none;
border-radius:6px;
cursor:pointer;
}

#fetch-rate{
background:gold;
color:maroon;
font-weight:bold;
}

.button-bar button:last-child{
background:maroon;
color:white;
}

/* MOBILE ADJUSTMENT */

@media (max-width:500px){

#card{
max-width:95vw;
border-width:6px;
transform:scale(0.32);
}

.shop-name{
font-size:22px;
}

.slogan{
font-size:15px;
}

.rate{
font-size:18px;
}

.god-image img{
width:100px;
}

}
