{%load static%}
<!DOCTYPE html>
<html lang="ta">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/mangala.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil&display=swap" rel="stylesheet">
</head>
<body>
<div class="preview">
<div id="card">
    <div class="mantra">
            <div class="mantra">
            ஓம் முருகா 
        </div>
    <div class="god-image">
        <img src="{% static 'img/myimage.jpg' %}" alt="Muruga">
    </div>

        </div>
         <div class="shop-name">
             ஸ்ரீ மங்கள கணபதி ஜுவல்லரி
         
             <div class="contact">
             <div class="phone">
                 அகரம் கூட்ரோடு 
             </div>
        </div>
<div class="slogan">
    தங்கம் மற்றும் வெள்ளி நகைகள் வாங்க கைராசியான இடம்  
</div>
        <div class="line"></div>
    <p id="datetime"></p>
      <table>
            <tr>
                <td>22K தங்கம்(gold) விலை</td>
                
                <td class="rate" id="gold-rate">loading...</td>

            </tr>
            
            <tr>
                <td>வெள்ளி(silver) விலை</td>
    <td class="rate" id="silver-rate">loading...</td>
</td>
            </tr>
        </table>

    <!-- <div class="rate-box" id="gold">
        தங்கம் விலை : --
    </div>

    <div class="rate-box" id="silver">
        வெள்ளி விலை : --
    </div> -->

    <p style="margin-top:15px; font-size:15px; color:white;">
        * விலைகள் மாற்றத்திற்குட்பட்டவை
    </p>
    <p style="margin-top:15px; font-size:18px; color:white;">
        பிரதி <mark>செவ்வாய்</mark> விடுமுறை   
    </p>
</div>
</div>
</div>
<div class="button-bar">
    <button id="fetch-rate">Fetch Rate</button>
    <button onclick="generateImage()">Generate Image</button>
</div>


<script src="{% static "js/mangala.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</body>
</html>